.img{
    height: 250px ;
    width: 300px ;
    border-radius: 5px 5px 0px 0px
    
}

.single-meal{
    border-top: none;
   border-right: 1px solid lightgray;
   border-left: 1px solid lightgray;
   border-bottom: 1px solid lightgray;
   transition: all 0.5s;
   /* border: 1px solid lightgray; */

height: 300px;
border-radius: 5px 5px 0px 0px;
cursor: pointer;
}

.single-meal:hover{
    box-shadow: 5px 5px 10px grey;
}

.img-containers{
    /* display: flex;
    flex-wrap: wrap; */
    /* flex-basis: 350px; */
    /* border: none; */
}

.item-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin-top: 3rem;
}

.item-name{
    


}

.par-containers{
   margin-top: 6px;
   display: flex;
   /* justify-content:flex-end ; */
   align-items: center;
   font-weight: bold;
}

.like-icon{
    /* position: relative; */
    /* left: 12rem; */
    font-size: 1.5rem;
}

.like-container{
    display: flex;
    margin-left: auto;
}

