.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.85) ;
    display: grid;
    place-items:center;
    transition: var(--transition);
    z-index: 100;
}
.modal-container{
    width: 80vw;
    background: var(--white);
    height: 80vh ;
    max-width: 800px ;
    overflow: scroll;
    border-radius: var(--borderRadius);
}

.modal-img{
    height: 15rem;
    width: 30rem;
   
}
.modal-content{
    padding: 1rem 1.5rem;
}

.modal-content p{
    color: var(--grey-600);

}

.modal-content a{
    text-decoration: underline;
    margin-bottom: 1rem;
    color: var(--primary-500);
    display: block;
    transition: var(--transition);
    margin-top: 5px;
}
.modal-content a:hover{
    color: var(--black);
}



.close-btn{
    background-color: var(--red-dark);
    color: var(--white);
    cursor: pointer;
    border: none;
    padding: 5px;
}